:root {
  --accent-color: #2196f3;
  --transition-timing-function: 10s;
  --transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul {
  padding-inline-start: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 95px;
  padding-bottom: 95px;
}
body {
  background-color: #e5e5e5;
  color: rgba(33, 33, 33, 1);
  font-family: Roboto, sans-serif;
}
/* HEADER */

.header-page {
  background: #ffffff;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner-portfolio {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-page-conteiner {
  display: flex;
  align-items: center;
}

/*========================================LOGO========================================*/

.nav-page {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-contact {
  display: flex;
  align-items: center;
}

.top-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* ==============================SAIT NAV==================================================*/
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-studio-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  position: relative;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-studio-one.current-one::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-one:active::after {
  background-color: var(--accent-color);
}
.current-one:hover::after {
  background-color: var(--accent-color);
}

/*===Portfolio===*/
.site-nav-portfolio-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-portfolio-one.current-two::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 74px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current-two:active::after {
  background-color: var(--accent-color);
}
.current-two:hover::after {
  background-color: var(--accent-color);
}

/*====Contact====*/
.site-nav-contact-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-contact-one.current-three::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-three:active::after {
  background-color: var(--accent-color);
}
.current-three:hover::after {
  background-color: var(--accent-color);
}
/*=================================/SAIT NAV=================================== */

/*=================================EMAIL============================================*/
.menu-contact {
  margin-left: auto;
}

.auth-nav-email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav-email:hover,
:focus {
  color: var(--accent-color);
}

/*================================/EMAIL=========================================*/

/* ===============================PHONE CONTACT=================================*/
.auth-nav-phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav-phone:hover,
.auth-nav-phone:focus {
  color: var(--accent-color);
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}
.icon-letter {
  fill: currentColor;
  margin-right: 10px;
}

/*=============================/PHONE CONTACT===============================*/

/*=============================HERO CONTEINER===========================================*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hero-conteiner {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*================================/HERO TITLE========================================== */

/*================================HERO BUTTON===========================================*/

.button-conteiner {
  text-align: center;
  margin-top: 30px;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/*=============================/HERO BUTTON=========================================== */
/*==============ICON-ONE============================================================*/
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4%;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.tittle {
  display: flex;
  display: inline-block;
  gap: 30px;
}

/*===========================HERO*/
/* DESCRIPTION=======================================*/
.description-conteiner {
  background-color: #fff;
  padding-top: 95px;
  /* padding-bottom: 95px;*/
}
.card-set {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.card-set-child:not(:last-child) {
  margin-right: 30px;
}

.tittle {
  flex-basis: calc((90%-27px) / 4);
}
.section-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.description-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.next-tittle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.next-hero-tittle {
  text-align: center;
}
.section-next-tittle-conteiner {
  padding-bottom: 95px;
  background-color: #fff;
}

/*==============================IMAGES================================================ */
.menu-images {
  display: flex;
}
.images {
  display: flex;
  flex-basis: calc((100%-60px) / 3);
  /*margin-bottom: 94px;*/
}
.images:not(:nth-child(3n)) {
  margin-right: 30px;
}
.box-overley {
  display: block;
  position: relative;
}
.img-overlay {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.03em;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  transform: translate(0%, -100%);
}

/*================================TEAM=============================================== */

.team-style {
  background-color: #f5f4fa;
}

.paragraf-team {
  text-align: center;
}

.description-team {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.name-team {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
}
.specialist-team {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}
/*============PHOTO TEAM=================*/
.photo-team {
  display: flex;
  flex-wrap: wrap;
}
.conteiner-team {
  /*flex-basis: calc((100%-90px) / 4);*/
  gap: 30px;

  /* margin-bottom: 94px;*/
}
.conteiner-team:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-border {
  border: 1px;
  border-top: none;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
  padding-top: 30px;
  padding-bottom: 30px;
}
/*=========================ICON=========================*/
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/*=============================/ICON==================================*/

/*===================== <!--REGULAR CLIENT-->=================================*/
.regular-client-style {
  background-color: #ffffff;
}

.regular-client-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}

.button-regular-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-regular-client:hover,
.button-regular-client:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/*===================================LOGO====================================*/
.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner-address-style {
  background-color: #2f303a;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.logo-margin {
  margin-bottom: 20px;
}
.logo .multicolortext {
  color: var(--accent-color);
}

/*==================================== ADDRESS======================================*/

.address-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}
.email-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-kyiv {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.email-margin {
  margin-bottom: 9px;
}

.phone-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* =============================FOOTER SOCIAL LINK===============================*/
.social-networks-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-button-footer:hover,
.social-button-footer:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ececec;
}

.social-networks {
  display: flex;
  gap: 10px;
}
.parent {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  margin-right: 70px;
}
/* =============================FOOTER SOCIAL LINK===============================*/
/*==============================FOTER MODAL==========================*/
.footer-modal-tittle {
  display: block;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 93px;
  margin-bottom: 20px;
}

.fotter-modal-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  box-shadow: 4px 0px, 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 15px;
  margin-left: 93px;
  margin-right: 12px;
  outline: none;
}

.footer-modal-button {
  width: 200px;
  height: 50px;
  border: 0px;
  outline: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
}
.modal-email-icon {
  fill: #ffffff;
  align-self: center;
  margin-left: 10px;
}
/*==============================/FOTER MODAL==========================*/
/* ==============================PORTFOLIO========================================*/
/*===============================PAGE 2============================================*/

/*=============================TOP-LOGO==========================================
=============== назви класів, як в лого на 1 сторінці============================*/

.top-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000;
}
.top-logo .multicolortext {
  color: var(--accent-color);
}

/*================================/TOP LOGO=======================================*/

/*================================HEADER PORTFOLIO=======================================
====================назви класів, як в сайт нав на 1 сторінці=======================*/
.page-header {
  background-color: #ffffff;
}
.border-header {
  border-bottom: 1px solid #ececec;
}
.page-header-conteiner {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.site-nav-menu {
  display: flex;
}

.portfolio-nav-menu {
  display: flex;
  margin-left: auto;
}

.top-logo {
  margin-right: 93px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.portfolio-nav-email {
  margin-right: 50px;
}
/*===Studio-Next===*/
.site-nav-studio-next {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-studio-next.current-one-next::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current-one-next:active {
  color: var(--accent-color);
}
.current-one-next:active::after {
  background-color: var(--accent-color);
}
.current-one-next:hover::after {
  background-color: var(--accent-color);
}

/*===Portfolio===*/
.site-nav-portfolio-next {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-portfolio-next.current-two-next::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-two-next:active::after {
  background-color: var(--accent-color);
}
.current-two-next:hover::after {
  background-color: var(--accent-color);
}
/*===CONTACT-NEXT===*/
.site-nav-contact-next {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-contact-next.current-three-next::after {
  position: absolute;
  bottom: -34px;
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-three-next:active::after {
  background-color: var(--accent-color);
}
.current-three-next:active {
  color: var(--accent-color);
}
.current-three-next:hover::after {
  background-color: var(--accent-color);
}
/*=================================portfolio-nav========================================*/

.portfolio-nav-email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-email:hover,
.portfolio-nav-email:focus {
  color: var(--accent-color);
}

.portfolio-nav-phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-phone:hover,
.portfolio-nav-phone:focus {
  color: var(--accent-color);
}
/*==================/HEADER==========================*/

/*========================BUTTON PORTFOLIO============================================*/
.button {
  display: flex;
  justify-content: center;
}

.button-items:not(:last-child) {
  margin-right: 8px;
}

.top-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  color: #ffffff;
  background-color: var(--accent-color);
}

.next-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  color: #212121;
  background-color: #f5f4fa;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.next-button:hover.next-button,
.next-button:focus.next-button {
  color: #f5f4fa;
  background-color: var(--accent-color);
}
/*.next-button:hover,
.next-button:focus {
  background-color: var(--accent-color);
}*/
.page-two {
  background-color: #ffffff;
}
/*============================/BUTTON PORTFOLIO=====================================*/

/*==========================IMAGES PORTFOLIO 9images=================================*/
.images-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-content: center;
  gap: 30px;
}
.images-portfolio {
  background-image: linear-gradient(
    rgba(238, 238, 238, 1),
    rgba(255, 255, 255, 1)
  );
}

.border-portfolio-img {
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  padding-right: 24px;
  padding-left: 24px;

  padding-top: 20px;
  padding-bottom: 20px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-shadow:hover,
.box-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-portfolio-taitle {
  margin-bottom: 4px;
}

.team-list-img {
  display: block;
  position: relative;
  overflow: hidden;
}
.overley {
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-portfolio:hover .overley,
.team-list-portfolio:focus .overley {
  transform: translate(0, 0);
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;

  background-color: #ffffff;
}

.sabsection-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*==============================/IMAGES PORTFOLIO ====================================*/

/*=================================LOGO====================================*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.logo .multicolortext {
  color: var(--accent-color);
}

/*==============================ADDRES=============================================
==============================аналогічний головній сторінці========================*/
.conteiner-address-style {
  background-color: #2f303a;
}
.address-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}
.email-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.phone-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.6);
}

/*==============================ADDRES=============================================*/
/*============================MODAL BTN===========================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 0px, 2px rgba(0, 0, 0, 0.2), 1px 0px, 1px rgba(S0, 0, 0, 0.14),
    3px, 0px, 1px, rgba(0, 0, 0, 0.12);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

/*============================/MODAL BTN===========================================*/
/*===========================MODAL FORM================================*/
.modal-form-tittle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-desc {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-iput-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-left: 15px;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-mesage {
  resize: none;
  width: 100%;
  height: 120px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 10px;
  transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-mesage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-mesage::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
/*checkbox*/
/*.modal-form-check-desc::before {
  display: block;
  content: "";
  border: 1px solid #212121;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-color: #ffffff;
  margin-right: 7px;
}
/*====не працює фокус====
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-color: var(--accent-color);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form-check-desc {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: #757575;
  display: flex;
  justify-content: center;
}
.modal-form-check-desc-href {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration: underline 1px solid var(--accent-color);
}
*/
/*===не вдається задати тінь кнопці===*/
/*CHECKBOX@*/
.modal-form-check-desc::before {
  display: block;
  content: "";
  border: 1px solid #212121;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-color: #ffffff;
  margin-right: 7px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border: 0;
  transition: background-color, background-image, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border: 0;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form-check-desc {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: #757575;
  display: flex;
  justify-content: center;
}
.modal-form-check-desc-href {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration: underline 1px solid var(--accent-color);
}
/*CHECKBOX@*/
.modal-form-submit {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  border: 0px;
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  background-color: #2196f3;
  box-shadow: 4px 0px, 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*===========================/MODAL FORM================================*/
