.page__header {
  background: #ffffff;
}
.page__nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__nav_active_ {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  position: relative;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current:active::after {
  background-color: var(--accent-color);
}

.menu__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current__port::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.current__port:active {
  color: var(--accent-color);
}
.current__port:active::after {
  background-color: var(--accent-color);
}
.current__port:hover::after {
  background-color: var(--accent-color);
}

.menu__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current__contact::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current__contact:active {
  color: var(--accent-color);
}
.current__contact:active::after {
  background-color: var(--accent-color);
}

.current__contact:hover::after {
  background-color: var(--accent-color);
}

.menu__autonav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu__email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
}

.menu__phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}
.icon-letter {
  fill: currentColor;
  margin-right: 10px;
}
