.page-header {
  background-color: #ffffff;
}

.page__nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.border-header {
  border-bottom: 1px solid #ececec;
}

/*===Studio-Next===*/
.menu__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current:active {
  color: var(--accent-color);
}
.current:active::after {
  background-color: var(--accent-color);
}
.current:hover::after {
  background-color: var(--accent-color);
}

/*===Portfolio===*/
.menu__nav_active_ {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current__portfolio::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current__portfolio:active::after {
  background-color: var(--accent-color);
}
/*.current__potrfolio:hover::after {
  background-color: var(--accent-color);
}*/
/*===CONTACT-NEXT===*/
.menu__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current__contact::after {
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.current__contact:active {
  color: var(--accent-color);
}
.current__contact:active::after {
  background-color: var(--accent-color);
}

.current__contact:hover::after {
  background-color: var(--accent-color);
}
/*=================================portfolio-nav========================================*/

.portfolio-nav-email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.portfolio-nav-phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
